#sidebar {
  width: 10%;
  border: 1px solid black;
  display: inline-block;
  box-sizing: border-box;
}

.emails-box {
  width: 90%;
  display: inline-block;
}

ul {
  list-style: none;
}

.email {
  width: 90%;
  display: inline-block;
}